---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Welcome | COMPA</title>

		<style>
			:root {
				font-family: system-ui, sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>Welcome to COMPA!</h1>
		<p>We're still setting things up. Check again later!</p>

		<h2>Schools</h2>
		<p>You may be looking for these schools:</p>

		<table>
			<tbody>
				<tr>
					<td>Kwame Nkrumah University of Science and Technology</td>
					<td><a href="https://knust.compa.so">knust.compa.so</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
