---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Welcome | COMPA</title>

		<style>
			:root {
				font-family: system-ui, sans-serif;
				--home-bg-color: #212121;
				--primary-color: #F5F4F4
			}

			body {
				@media (prefers-color-scheme: dark) {
					background-color: var(--home-bg-color);
					color: var(--primary-color)
				}
			}

			@keyframes ping {
				75%, 100% {
					transform: scale(2);
					opacity: 0;
				}
			}
			.animate-ping {
				animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
			}

		</style>
	</head>
	<body class="flex flex-col items-center justify-center h-screen">
		<div class="fixed -z-10 blur-xl animate-ping">
			<div class="w-[400px] h-[400px] rounded-[50%] bg-yellow-400 dark:bg-indigo-700" />
		</div>
		<h1 class="font-bold text-[3rem]">Welcome to COMPA!</h1>
		<p class="text-neutral-400 text-md">We're still setting things up. Check again later!</p>

		<h2 class="font-medium text-[2rem] mt-4">Schools</h2>

		<table>
			<tbody>
				<tr>
					<td>Kwame Nkrumah University of Science and Technology</td>
					<td><a class="cursor-pointer underline ml-1 text-blue-600" href="https://knust.compa.so">knust.compa.so</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
