---
import Shell from '../layouts/Shell.astro'
---

<Shell
  title="School"
  description="Schools hosted on compa and how to apply for an instance">
  <div class="container mx-auto min-h-[60vh]">
    <h1 class="text-3xl font-bold">Schools</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="col-span-1">
        <p>
          Any higher education institution is allowed to get an instance of
          compa. However, we currently have the following schools hosted:
        </p>

        <p class="text-secondary mt-4">
          If you wish to get an instance hosted for your school, you can <a
            class="text-blue-500 underline"
            href="https://80sjwytaoog.typeform.com/to/br50FQyZ">
            Request for it
          </a>. You have the option to host one yourself. See <a
            class="text-blue-500 underline"
            href="https://github.com/blackmann/compa">
            repository
          </a>
        </p>

        <table class="mt-8 w-full">
          <tbody>
            <tr class="align-top">
              <td>Kwame Nkrumah University of Science and Technology</td>
              <td>
                <a
                  class="text-blue-500 underline"
                  href="https://knust.compa.so">
                  knust.compa.so
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</Shell>
