---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import '../styles.css'

interface Props {
  title: string
	description?: string
}
---

<html lang="en" class="bg-zinc-50 dark:bg-neutral-900">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={Astro.props.description || 'An open initiative to promote collaboration and knowledge sharing among students of higher education'} />
		<title>{Astro.props.title} ✽ compa</title>

		{
			process.env.NODE_ENV === 'production' && (
			<!-- Observe Prod -->
		<script src="https://0.observe.so/script.js" data-app="clwscqbfv00ayx3c8dm9kdzz7" />
			)
		}

    <slot name="head" />
	</head>
	<body>
		<Navbar />
    <slot />

		<Footer />
	</body>
</html>
