@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&display=swap');

:root {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 15px;
  color-scheme: light dark;
}

.condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
	@apply max-w-[960px] mx-auto px-4;
}

.text-secondary {
	@apply text-zinc-500 dark:text-neutral-400;
}
