@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@unocss;

:root {
  @apply bg-zinc-50 dark:bg-neutral-900 dark:text-white;
  font-family: 'Inter', system-ui, sans-serif;
  color-scheme: light dark;
  font-size: 14px;
}

* {
  scroll-margin-top: 3.5rem;
}

dialog {
  @apply dark:text-white;
}

.text-secondary {
  @apply text-zinc-500 dark:text-neutral-400;
}

.hover-bg-light {
  @apply hover:bg-zinc-100 hover:dark:bg-neutral-800;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

select {
  @apply border-0;
  background-position: right 0.1rem center;
}

input {
  @apply !border-0;
}

.container {
  @apply px-4;
}

.post-content p + p {
  @apply mt-4;
}

input {
  /* @apply focus:ring-2 */
}