<footer class="container mx-auto border-t py-4 mt-8 dark:border-neutral-800">
  <div class="grid grid-cols-3">
    <div class="col-span-1">
      <div class="text-sm font-mono text-secondary">
        &copy; {new Date().getFullYear()} The Compa Initiative
      </div>
    </div>
  </div>
</footer>
