---
import LogoDuo from "./LogoDuo.astro";
---

<header class="container mx-auto py-12 flex justify-between items-center">
  <a href="/"><LogoDuo /></a>

  <div>
    <nav>
      <ul class="flex items-center gap-4">
        <li>
          <a href="/schools">Schools</a>
        </li>
        <li>
          <a href="/open">Open</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
