name: Deploy App

on:
  push:
    branches:
      - master
    paths:
      - 'client/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        instance: ['knust', 'ug']
    steps:
      - name: Cloning repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to dokku
        uses: dokku/github-action@master
        # enable verbose ssh output
        env:
          GIT_SSH_COMMAND: 'ssh -vvv'
        with:
          # enable verbose git output
          git_push_flags: '-vvv'
          git_remote_url: 'ssh://dokku@85.159.211.246:22/${{ matrix.instance }}'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          # enable shell trace mode
          trace: '1'
